/**
 * $GENERAL
 *
 */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #1f1f1f;
  color: #fff;
}
h1 {
  font-weight: bolder;
  margin-bottom: 80px;
  font-size: 5vw;
  z-index: 1;
  color: #9a9696;
}
article {
  padding: 100px 0 50px;
}
.in h1 {
  animation: intro 0.5s ease-out;
  top: 160px;
}
.out h1 {
  animation: outro 0.5s ease-out;
  top: -400px;
}
.btn-default {
  padding: 12px 20px;
  background: none;
  border-color: salmon;
  color: salmon;
  text-transform: uppercase;
  transition: background 0.3s ease-in;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  background: salmon;
  border-color: salmon;
  color: #191919;
}
@media (max-width: 576px) {
  h1 {
    font-size: 13vw;
  }
  article {
    padding-bottom: 50px;
  }
}
/**
 * $MAIN NAVIGATION
 *
 */
nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
  background: rgba(31, 31, 31, 0.5);
}
nav a {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  padding: 40px 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  transition: height 0.2s ease-in;
}
nav a:hover,
nav a:visited,
nav a:active,
nav a:focus {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 940px) {
  nav {
    height: 100px;
    overflow: hidden;
    background: rgba(31, 31, 31, 0.9);
    transition: all 0.3s ease-out;
  }
  nav .icon-menu {
    padding: 40px;
    position: relative;
    z-index: 999;
    cursor: pointer;
  }
  nav a {
    display: block;
  }
  nav.open {
    overflow: auto;
    height: auto;
  }
}
/**
 * $HOME
 *
 */
.home {
  display: none;
}
.home.in {
  display: block;
}
.home h1 {
  margin-bottom: 80px;
  top: 0;
}
.home .header {
  top: 20vh;
}
.home .homepage-hero-module {
  border-right: none;
  border-left: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.home .no-video .video-container video,
.home .touch .video-container video {
  display: none;
}
.home .no-video .video-container .poster,
.home .touch .video-container .poster {
  display: block !important;
}
.home .video-container {
  position: relative;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #1f1f1f;
}
.home .video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.home .video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.home .video-container video.fillWidth {
  width: 100%;
}
@media (max-width: 576px) {
  .home .header {
    top: 5vh;
  }
}
/**
 * $WORKS
 *
 */
.works {
  display: none;
  padding-top: 100px;
}
.works.in {
  display: block;
}
.works .project {
  width: 50%;
  height: 0;
  padding-bottom: 33%;
  position: relative;
  background: salmon;
  float: left;
  cursor: pointer;
  z-index: 2;
}
.works .project:after {
  content: '';
  display: block;
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}
.works .project:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-size: 120%;
  transition: background-size 5s ease-out;
  position: absolute;
  z-index: 9999;
}
.works .project.simplecom {
  background: #1abc9c;
}
.works .project.simplecom:after {
  background: url("../img/portfolio/logo-simplecom.svg") no-repeat center;
  background-size: contain;
}
.works .project.simplecom:before {
  opacity: 0;
  background: url("../img/portfolio/simplecom-bg.jpg") no-repeat;
  background-size: 120%;
}
.works .project.simplecom:hover:before {
  opacity: 0.2;
  background-size: 130%;
}
.works .project.mbt {
  background: #8e44ad;
}
.works .project.mbt:after {
  background: url("../img/portfolio/logo-mbt.svg") no-repeat center;
  background-size: contain;
}
.works .project.mbt:before {
  opacity: 0;
  background: url("../img/portfolio/mbt-bg.jpg") no-repeat;
  background-size: 120%;
}
.works .project.mbt:hover:before {
  opacity: 0.2;
  background-size: 130%;
}
.works .project.audi {
  background: #fff;
}
.works .project.audi:after {
  background: url("../img/portfolio/audi.svg") no-repeat center;
  background-size: contain;
}
.works .project.audi:before {
  opacity: 0;
  background: url("../img/portfolio/audi-bg.jpg") no-repeat;
  background-size: 120%;
}
.works .project.audi:hover:before {
  opacity: 0.2;
  background-size: 130%;
}
.works .project.audi:after {
  width: 15%;
}
.works .project.push {
  background: #3498db;
}
.works .project.push:after {
  background: url("../img/portfolio/logo-push.svg") no-repeat center;
  background-size: contain;
}
.works .project.push:before {
  opacity: 0;
  background: url("../img/push-bg.jpg") no-repeat;
  background-size: 120%;
}
.works .project.push:hover:before {
  opacity: 0.2;
  background-size: 130%;
}
.works .project.micro {
  background: #2c3e50;
}
.works .project.micro:after {
  background: url("../img/portfolio/logo-micro.svg") no-repeat center;
  background-size: contain;
}
.works .project.micro:before {
  opacity: 0;
  background: url("../img/portfolio/micro-bg.jpg") no-repeat;
  background-size: 120%;
}
.works .project.micro:hover:before {
  opacity: 0.2;
  background-size: 130%;
}
.works .project.micro:after {
  width: 45%;
}
.works .project.weather {
  background: #e67e22;
}
.works .project.weather:after {
  background: url("../img/portfolio/logo-weather.svg") no-repeat center;
  background-size: contain;
}
.works .project.weather:before {
  opacity: 0;
  background: url("../img/portfolio/wather-bg.jpg") no-repeat;
  background-size: 120%;
}
.works .project.weather:hover:before {
  opacity: 0.2;
  background-size: 130%;
}
.works .project img {
  box-shadow: -30px 30px 60px rgba(0, 0, 0, 0.5);
}
.works .project:hover h2 {
  opacity: 1;
}
.works .project h2 {
  margin-top: 20.5%;
  font-size: 22px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.works .viewer {
  top: 100px;
  z-index: 999;
}
.works .viewer .wrapper {
  position: relative;
}
.works .viewer .ctrls {
  position: fixed;
  top: 120px;
  right: 7.2%;
  color: salmon;
  cursor: pointer;
}
.works .viewer .ctrls i {
  font-size: 2em;
}

/*projects*/
/*simplecom*/
.container{
  width: 100%;
  max-width: 1400px;
  background: #fff;
  padding: 0;
}
.img-responsive{
  width: 100%;
}
.anim-container{
  position: relative;
}
#icon-anim, #logo-anim{
  position: absolute;
}
#logo-anim{
  top: 63%;
  width: 39%;
  left: 37.2%;
}
#icon-anim{
  top: 57%;
  width: 16.66%;
  left: 41%;
}
.container .vid-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
}
.container .vid-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*push-system*/
.container.push{
  font-family: 'Roboto', sans-serif;
}
.container.push h1 {
  margin: 100px 0 30px;
  font-weight: 300;
}
.container.push .description {
  background: #333c4b;
  color: #fff;
  font-weight: 300;
  padding-bottom: 50px;
}
.container.push .description p {
  line-height: 1.5em;
}
/*micro*/
.container.micro {
  width: 100%;
  background: #232a30;
  padding: 0 0 100px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}
.container.micro .gif {
  width: 800px;
  margin: 0 auto;
}
.container.micro h1 {
  margin: 300px 0 0;
  color: #fff;
  font-size: 4em;
  font-weight: 300;
}
.container.micro h2 {
  font-weight: 300;
  margin: 0;
}
.container.micro h2,
.container.micro p {
  color: #757575;
  font-size: 1.2em;
}
/*mobile-tornado*/
.mobile-tornado #logo-anim {
  position: absolute;
  width: 30%;
  top: 25%;
  left: 33%;
}
/*mobile*/
@media (max-width: 940px) {
  .works .project {
    width: 100%;
    padding-bottom: 50%;
  }
}
/**
 * $ABOUT
 *
 */
.about {
  display: none;
  background: repeating-linear-gradient(45deg, #000, #000 2px, #1f1f1f 2px, #1f1f1f 4px);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAMklEQVQoU2NkwA/+M+KR/8/AwMCISwFYEqQZmwK4JDYFKJLoCjAkkRVglYQpwCkJUgAAGOQICDcTvB4AAAAASUVORK5CYII=
    ) repeat;
}
.about.in {
  display: block;
}
.about .portrait {
  margin-bottom: 2em;
  width: 200px;
}
.about .goal {
  padding: 100px 0;
  min-height: calc(100vh - 100px);
}
.about .goal h2 {
  margin-bottom: 2em;
}
.about .goal p {
  line-height: 1.8em;
  margin-bottom: 2em;
}
@media (max-width: 576px) {
  .about {
    padding-right: 15px;
  }
  .goal {
    padding: 70px 0;
  }
}
/**
 * CONTACT
 *
 */
.contact {
  display: none;
  background-size: cover;
  min-height: 100vh;
  padding-top: 200px;
}
.contact.in {
  display: block;
}
.contact ul {
  padding: 0;
  list-style: none;
  font-weight: 300;
}
.contact .contact-info {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact .contact-info li {
  line-height: 3em;
}
.contact .contact-info li a {
  color: #fff;
}
.contact .contact-info li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.contact .contact-info span {
  color: salmon;
  font-weight: 500;
}
.contact .social {
  padding: 0;
  margin-top: 50px;
  list-style: none;
}
.contact .social li {
  line-height: 0;
  padding-bottom: 50px;
}
.contact .social li a {
  color: salmon;
}
.contact .social li a:hover {
  color: #fb998e;
}
@media (max-width: 576px) {
  .contact {
    padding-top: 130px;
  }
}
/**
 * ANIMATIONS
 *
 */
@keyframes intro {
  0% {
    display: block;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes outro {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
